.App {
	/* font-family: "jetBrains mono"; */
	font-family: "monoidTest Retina";
	text-align: center;
	margin: 5% 10%;
	color: white;
}
.offset {
	border: 3px dashed rgb(114, 114, 114);
	padding: 3px;
	margin: 10px;
}
.product {
	padding: 3px 0px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 6px;
	background-color: rgba(155, 155, 155, 0.774);
}
.count {
	font-size: larger;
}

.digital-watch {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	background-color: #222;
}

.digital-watch h1 {
	font-family: "monoidTest Retina";
	font-size: 6rem;
	color: #47acff;
	text-shadow: 2px 2px 2px #000;
}

.watch::selection {
	color: salmon;
	background-color: white;
}
