.App {
	/* font-family: "jetBrains mono"; */
	font-family: "monoidTest Retina";
	text-align: center;
	margin: 5% 10%;
	color: white;
}
.offset {
	border: 3px dashed rgb(114, 114, 114);
	padding: 3px;
	margin: 10px;
}
.product {
	padding: 3px 0px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 6px;
	background-color: rgba(155, 155, 155, 0.774);
}
.count {
	font-size: larger;
}

.digital-watch {
	margin-top: 5%;
	display: flex;
	/* display: grid; */
	justify-content: center;
	align-items: center;
	height: 50vh;
	background-color: #222;
}

.digital-watch h1 {
	/* font-family: "monoidTest Retina"; */
	font-family: "dseg7 classic";
	/* font-family: "'Share Tech Mono', monospace"; */
	font-size: 6rem;
	color: #47acff;
	text-shadow: 2px 2px 2px #000;
	user-select: none;
}

.watch::selection {
	color: salmon;
	background-color: white;
}

.users {
	background-color: #565656;
	padding: 8px;
	margin: 5px 8%;
	/* box-shadow: 10px 5px 10px 0px rgb(60, 60, 60) inset; */
	box-shadow: 6px 6px 3px black;
}
.users:hover {
	transform: scale(0.99);
	box-shadow: 2px 2px black;
}
